<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 
bg-white border-bottom fixed-top shadow-sm">
    <img src="assets/images/logo.png" class="logo" alt="logo" style="max-height: 70px;" routerLink="/">
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class=" px-2 " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
        <a class=" px-2 " routerLink="/shop"  routerLinkActive="active">SHOP</a>
        <a class=" px-2 " routerLink="/core-error"  routerLinkActive="active">ERROR</a>
    </nav>
    <div routerLink ="/basket" class="d-flex align-items-center">
        <a style="position: relative; cursor: pointer;">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div *ngIf="(basketService.basketSource$ |async) as basket" class="cart-no">
                {{basket.items.length}}
            </div>
        </a>
        <a class="btn btn-outline-secondary mr-2">Login</a>
        <a class="btn btn-outline-secondary mr-2">Sign up</a>
    </div>
</header>